.Index-Footer{
    margin-top: 100px;
    position: relative;
    .Footer-Pay{
       margin-left: 10px;
        i{
            font-size: 50px;
        }
        ul{
            border: 1px solid #f8f4f4;
            border-radius: 10px;
            li{
                list-style: none;
            }
            a{
                background: green;
                color: white;
            }
        }
    }
}
.Infomation {
    margin-top: 5px;
    margin-left: 12px;
    .Infomation-Menu{
        margin-left:0px;
        border: 1px solid #ccbebe;
        h4{
            font-size: 20px;
            border-bottom: 1px solid #ccbebe;
            height: 40px;
            margin-top: 10px;
        }
        ul{
            
            li{
                list-style: none;
                line-height: 25px;
            }
        }
    }
    .Infomation-Fb{
        border: 1px solid #ccbebe;
        h4{
            font-size: 20px;
            border-bottom: 1px solid #ccbebe;
            height: 40px;
            margin-top: 10px;
        }
        a{
            font-size: 50px;
            i{
                margin-left: 40px;
            }
        }
        #fb{
            color: #20469a;
        }
        #tw{
            color: #00aeef;
        }
        #gg{
            color: #dc3227;
        }
    }
}